*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

#header{
    background-color: black;
}

#signin{
    background-color: orange;
}

#menu span{
    color: orange;
}

#menu{
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#header #menu a{
    padding: 10px 10px;
    display: block;
    text-decoration: none;
}
#header #menu a:hover{
    color: white;
}

/* subheader */

#sub-header menu li a{
    color: black;
}

#menu2{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    color: black;
    text-decoration: none;
}

#menu2 li a{
    padding: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


img{
    margin-top: 30px;
}

#sub-header ul .fa{
    border: 1px solid orangered;
    padding: 5px;
    color: orangered;
}

/* banner */

#banner{
    background: rgb(8,15,140);
    background: linear-gradient(90deg, rgba(8,15,140,1) 0%, rgba(9,90,121,1) 0%, rgba(187,230,193,1) 100%, rgba(0,0,0,0) 100%);
}

.banner-title{
   text-align: center;
}
.banner-title span{
    color: orange;
}

.banner-title p,h1{
    color: white;
}

/* trackOrder */

.trackOrder .col{
    padding: 10px;
    width: 600px;
    margin: 0 20%;
    background: white;
    text-align: center;
    box-shadow: 2px 2px 20px grey;
}

/* about */


.about{
    margin: 50px;
}

button{
    background-color: orange;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}
.about h1{
    color: black;
}

.about img{
    width: 100%;
    height: 100%;
}

.about #fast:before{
        content: "\f135";
        font-family: "FontAwesome";
        padding-right: 10px;
}

.about #secured:before{
    content: "\f132";
    font-family: "FontAwesome";
    padding-right: 10px;
}

.about #shipping:before{
    content: "\f0d1";
    font-family: "FontAwesome";
    padding-right: 10px;
}

.about::after{
    background:  orange;
    content: "";
    margin: 120px auto;
    display: block;
    /* width: 100%; */
    height: 3px;
}

.about p{
    text-align: justify;
}

/* banner */


#banner2{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

/* fastDelivery */

#fastDelivery{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#fastDelivery h4{
    font-weight: bold;
}

#fastDelivery span{
    color: orange;
}

#fastDelivery p{
    text-align: justify;
}

#fastDelivery img{
    width: 100%;
    height: 50%;
}

/* testimonials */

#testimonials img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#testimonials{
    padding: 40px;
    text-align: center;
    background: rgb(9,90,121);
    background: linear-gradient(90deg, rgba(9,90,121,1) 0%, rgba(8,68,140,0.4430147058823529) 48%, rgba(0,0,0,0) 93%, rgba(187,230,193,1) 100%);
}

/* pricing */

#pricing{
    margin: 40px;
    text-align: center;
}

#pricing a{
    color: orange;
}

#pricing .col-sm-12{
    margin-bottom: 20px;
}

#pricing .col-sm-4 #plan{
    background-color: orange;
    border-radius: 30px;
    color: white;
}


/* contact */

.contact{
    padding: 30px;
    background: rgb(9,90,121);
    background: linear-gradient(90deg, rgba(9,90,121,1) 0%, rgba(140,8,8,0.4430147058823529) 0%, rgba(0,0,0,0) 0%, rgba(187,230,193,1) 100%);
}

/* footer */

#footer{
    background-color: black;
    color: white;
    padding: 50px;
}

#footer #socialLinks, a{
    padding: 0 15px 15px 15px;
    color: white;
}

#footer .col-sm-3 a:hover{
    color: white;
    text-decoration: none;
}

@media (max-width:850px){
    #sub-header  #menu2, .col-lg-4{
        display: block;
        padding: 10px;
        text-align: center;
    }

    #signin{
        text-align: center;
    }

    #menu{
        display: block;
    }
    
}

@media(max-width:575px){
    #cost img{
        width: 70%;
    }
}





